* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header-background {
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    background-color: lightgray;
    width: 100%;
    height: 29vh;
    padding-top: 200px;
    padding-bottom: 350px;
}

.header-background-title {
    text-align: right;
    position: absolute;
    font-weight: 700;
    font-size: 65px;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    color: #151414;
}

.header-background-subtitle {
    text-align: right;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.btn {
    text-align: center;
    position: absolute;
    width: 170px;
    height: 72px;
    left: 1210px;
    top: 555px;

    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 21px 25px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.container-success {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 200px;
    padding-left: 300px;
    gap: 67px;
}

.img-circle {
    border-radius: 50%;
    /* width: 200px;
    height: 200px; */
    padding-right: 180px
}

img {
    padding-left: 180px
}

.success-title {
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-weight: 700;
    font-size: 50px;
    color: #151414;
    padding-bottom: 20px;
}

.success-description {
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
    font-size: 20px;
    color: #444343;
    padding-bottom: 10px;
}

.success-list {
    width: 349px;
    height: 26px;
    left: 862px;
    top: 1416px;
    /* padding-top: 16px; */
}



/* failure */
.container-failure {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding-top: 200px;
    padding-right: 300px;
    padding-bottom: 200px;
}

.failure-title {
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 20px;
    padding-top: 60px;

}

.failure-description {
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
    font-size: 20px;
    color: #444343;
    padding-bottom: 10px;
}

.failure-list {
    width: 349px;
    height: 26px;
    left: 862px;
    top: 1416px;
}

/* li.failure-list{
    margin-left: 10px;
} */
.plans {
    /* position: absolute; */
    display: center;
    width: 1141px;
    height: 300px;
    left: 230px;
    top: 2000px;

}

.plan-title {
    text-align: center;
    font-size: 40px;
    padding-left: 380px;
}
.plan-container{
    text-align: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 80px;

}
/* .plan-container h2{
    font-weight: 700;
    align-items: right;
} */
.plan-container-group {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 90px;
    margin: auto;
    padding-left: 50px;
}

.watch {
    text-align: left;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 3000px;
    /* margin-top: 80px; */
    background: linear-gradient(to right, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    border-radius: 8px;
    /* padding-top: 20px; */
}

.btn-call {
    text-align: center;
    align-items: center;
    width: 160px;
    height: 70px;
    left: 100px;
    top: 500px;

    background: white;
    border-radius: 5px;
    border: 0;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 20px;
    color: #e75703;
    margin-left: 80px;
}


.head-watch {
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-left: 65px;
    margin-top: 50px;
min-height: fit-content;
}

.contact .section-title {
    text-align: left;
    color: #F8F8F8;
    font-size: 28px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 80px;
    background: #151414;
    padding-right: 100px;
    margin-top: 700px;
}

.contact input[type="email"] {
    margin-bottom: 24px;
    background: rgb(31, 30, 30);
    border-color: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    padding:2px ;
}


input{
    height: 64px;
    width: 50%;
}

.btn-sub {
    text-align: center;
    background: white;
    color: rgb(204, 102, 6);
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    border-radius: 8 px;
}

.section-title {
    padding-top: 120px;
    padding-left: 150px;
    padding-right: 30px;
    padding-bottom: 28px;
}
.section-title-sub{
    padding-top: 120px;
    padding-left: 150px;
    padding-right: 30px;
    padding-bottom: 28px;
    margin-right: 10px;
}
.section-title-body {
    text-align: left;
    font-size: 20px;
    color: white;
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 150px;
    margin-bottom: 30px;
}
.contact a{
    text-decoration: none;
}